* {
    background-color: red;
    margin: -1px;
}

img {
    height: 500px;
    width: 500px;
    background-image: url("penguin-omw.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 5s;
}

img:hover {
    background-image: url("rick-roll-rick-ashley.gif");
    rotate: 180deg;
}
